script#cookieinfo[type="text/javascript" src="cookieinfo.min.js" data-bg="#645862" data-fg="#FFFFFF" data-link="#F1D600" data-cookie="CookieInfoScript" data-text-align="left" data-close-text="Got it!"]
footer.site-footer
  .container
    .row
      .col-md-3.col-sm-6.col-xs-12.fbox
        h4
          | TradeBTC
        p.text
          | Find us on:
        ul.list-inline
          li
            a[href="#"]
              i.fa.fa-facebook
          li
            a[href="#"]
              i.fa.fa-twitter
          li
            a[href="#"]
              i.fa.fa-linkedin
      .col-md-3.col-sm-6.col-xs-12.fbox
        h4
          | SERVICES
        ul.big
          li
            a[href="documents/price" title=""]
              | Fees
          li
            a[href="documents/help" title=""]
              | HELP
      .col-md-3.col-sm-6.col-xs-12.fbox
        h4
          | MEMBERS
        ul.big
          li
            a[href="#" title=""]
              | Sign in
          li
            a[href="#" title=""]
              | Sign up
      .col-md-3.col-sm-6.col-xs-12.fbox
        h4
          | CONTACT
        p
          a[href="contact[at]tradebtc.eu"]
            span.glyphicon.glyphicon-envelope[aria-hidden="true"]
            | contact [at} tradebtc.eu
  #copyright
    .container
      .row
        .col-md-4
          p.pull-left
            | ©2016 TradeBTC
        .col-md-8
          ul.list-inline.navbar-right
            li
              a[href="/"]
                | HOME
            li
              a[href="/tos"]
                | TOS
            li
              a[href="/security"]
                | SECURITY
            li
              a[href="/QUAND"]
                | FAQ
            li
              a[href="/privacy"]
                | PRIVACY POLICY