 <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12 fbox">
                    <h4>TradeBTC</h4>
                    <p class="text">Find us on:</p>
                    <ul class="list-inline">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>                        
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 fbox">
                    <h4>SERVICES</h4>
                    <ul class="big">
                        <li><a href="documents/price" title="">Fees</a></li>
                        <li><a href="documents/help" title="">HELP</a></li>                    
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 fbox">
                    <h4>MEMBERS</h4>
                    <ul class="big">
                        <li><a href="#" title="">Sign in</a></li>
                        <li><a href="#" title="">Sign up</a></li>                                    
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 fbox">
                    <h4>CONTACT</h4>
                                    
                    <p><a href="contact[at]tradebtc.eu"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>contact [at} tradebtc.eu</a></p>
                </div>
            </div>
        </div>
        <div id="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <p class="pull-left">&copy;2016 TradeBTC</p>
                    </div>
                    <div class="col-md-8">
                        <ul class="list-inline navbar-right">
                            <li><a href="/">HOME</a></li>
                            <li><a href="/tos">TOS</a></li>
                            <li><a href="/security">SECURITY</a></li>
                            <li><a href="/QUAND">FAQ</a></li>
                            <li><a href="/privacy">PRIVACY POLICY</a></li>                           
                        </ul>
                    </div>
                </div>
            </div>
        </div>        
    </footer>