defaults: &defaults

  # sites hosts
  # session expire seconds
  # admin role account
  URL_HOST: 46.243.200.56:3000
  URL_SCHEMA: http
  SESSION_EXPIRE: 60
  ADMIN: 'admin@peatio.dev,olicelea@yahoo.com,admin@example.com'
  TIMEZONE: 'Cairo'

  REDIS_URL: redis://127.0.0.1:6379

  # below settings only in production env
  # system notify mail settings
  # --------------------------------------------------------------
  SMTP_PORT: YOUR_SMTP_PORT
  SMTP_DOMAIN: YOUR_SMTP_DOMAIN
  SMTP_ADDRESS: YOUR_SMTP_ADDRESS
  SMTP_USERNAME: YOUR_SMTP_USERNAME
  SMTP_PASSWORD: YOUR_SMTP_PASSWORD
  SMTP_AUTHENTICATION: plain # could be plain, login or cram_md5

  SUPPORT_MAIL: support@peatio.dev
  SYSTEM_MAIL_FROM: system@peatio.dev
  SYSTEM_MAIL_TO: group@peatio.dev
  OPERATE_MAIL_TO: support@peatio.dev

  # WebSocket Streaming API settings
  # --------------------------------------------------------------
  WEBSOCKET_HOST: 0.0.0.0
  WEBSOCKET_PORT: 8080
  # Uncomment below to enable secure WebSocket (wss)
  #WEBSOCKET_SSL_KEY: 'dev.key'
  #WEBSOCKET_SSL_CERT: 'dev.crt'

  # pusher settings
  # --------------------------------------------------------------
  # peatio dependence Pusher (http://pusher.com) service
  # you can change your key for production environment.
  # we support development key and secret
  # uncomment below line only development or test
  #
  # PUSHER_APP: 65910
  # PUSHER_KEY: 50d404c35db92d736a57
  # PUSHER_SECRET: 75d6e6685209cc60cc4d
  
  #  PUSHER_APP: 478158
  #  PUSHER_KEY: fd22cc11a5de1e380629
  #  PUSHER_SECRET: f4abed12d130334b1037
  #  PUSHER_HOST: api.pusherapp.com
  #  PUSHER_PORT: 80
  #  PUSHER_WS_PORT: 80
  #  PUSHER_WSS_PORT: 443
  #  PUSHER_ENCRYPTED: true

  # PUSHER_APP: 478158
  # PUSHER_KEY: f23fou402gh7ezono99
  # PUSHER_SECRET: 592zxq4g45gg36nopi775ddh
  # PUSHER_HOST: sl.tradebtc.eu
  # PUSHER_PORT: 8080
  # PUSHER_WS_PORT: 8080
  # PUSHER_WSS_PORT: 443
  # PUSHER_ENCRYPTED: false
  
  PUSHER_APP:       46.243.200.54
  PUSHER_KEY:       129HZJAG0XZuaS5r5AbtmYkqN7yET0l2
  PUSHER_SECRET:    17CDqIcCnRZq37B8OC5ZeW7WLErbo90m
  PUSHER_HOST:      sl.tradebtc.eu
  PUSHER_PORT:      4567
  PUSHER_WS_PORT:   8080
  PUSHER_WSS_PORT:  8080
  PUSHER_ENCRYPTED: false


  # twilio setting
  # --------------------------------------------------------------
  # https://github.com/twilio/twilio-ruby
  #
  TWILIO_NUMBER: YOUR_TWILIO_NUMBER
  TWILIO_SID: YOUR_TWILIO_SID
  TWILIO_TOKEN: YOUR_TWILIO_TOKEN


  # Third party auth

  # Weibo
  # --------------------------------------------------------------
  WEIBO_AUTH: off # on/off
  WEIBO_KEY: 3820920586
  WEIBO_SECRET: 2d6174dc698e86860c75d75b1e8a01c8

  # chat setting
  # --------------------------------------------------------------
  # Do you want chat feature in your exchange ?
  # send mail to community@peatio.com

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults
